@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

body {
    display: flex;
    background-color: #b89681;

}

p {
    font-family: 'Exo 2', sans-serif;
    font-size: large;
}

#leftDiv {
    width: 30%;
    height: auto;
    padding: 0px 50px 100px;
    text-align: center;
}

#Heading {
    margin: 20px auto;
    display: block;
    font-family: 'Montserrat';
    border-radius: 70px;
    background-color: #f9edd7;
}

#Heading p {
    margin: 0px;
    font-size: xx-large;
    font-weight: 600;
    color: #da2620;
    padding: 1px 3px;
}

#leftDiv button {
    margin: 15px auto;
    display: block;
    font-size: large;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    border-color: #ae3f3b;
}

#leftDiv button:hover {
    background-color: rgb(253, 223, 183);
    transform: scale(1.1);
    border-color: chocolate;
}

#rightDiv {
    margin: 20px;
    width: 70%;
    height: auto;
    background-color: #f0e1bf;
    border-radius: 40px;
    border: 4px solid rgb(254, 204, 166);
    text-align: center;
}

#menuDiv,
#cupSizeDiv,
#unitsDiv,
#payDiv,
#proceedDiv {
    display: none;
    padding: 30px;
}

#Welcome img {
    margin: auto;
    display: block;
    width: 400px;
    height: 450px;
}

#Welcome p {
    font-size: x-large;
}

#menuDiv img {
    height: 150px;
    width: 150px;
}

#menuDiv button {
    background-color: snow;
    border-radius: 20px;
    display: inline;
    margin: 10px;
    border: 4px solid #B9B4C7;
}

#menuDiv button:hover,
#cupSizeDiv button:hover,
#unitsDiv button:hover {
    background-color: #f8d79a;
    transform: scale(1.1);
    border-color: azure;
}

#cupSizeDiv {
    margin-top: 80px;
}

#cupSizeDiv button {
    background-color: snow;
    border-radius: 20px;
    display: inline;
    margin: 60px 30px;
    border: 4px solid #B9B4C7;
}

#cupSizeDiv p {
    margin: 0px;
    font-size: x-large;
}

#smallsize {
    width: 100px;
    height: 150px;
    padding: 4px;
}

#mediumsize {
    width: 105px;
    height: 165px;
    padding: 4px;
}

#largesize {
    width: 110px;
    height: 180px;
    padding: 4px;
}

#unitsDiv button {
    background-color: snow;
    border-radius: 20px;
    display: inline;
    margin: 40px;
    border: 4px solid #B9B4C7;
}

#unitsDiv {
    margin: 110px 40px 0px;
}

#unitInput {
    border-radius: 60px;
    height: 50px;
    width: 200px;
    border: 2px solid chocolate;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: larger;
    font-family: 'Exo 2';
}

#progressBar {
    height: 50px;
    width: 400px;
    margin: 20px auto;
    display: block;
}

#payblocks button {
    display: inline;
    background-color: rgb(252, 247, 222);
    border-radius: 20px;
    margin: 10px;
    border: 4px solid #B9B4C7;
}

#payblocks button:hover {
    background-color: #d9f89a;
    transform: scale(1.1);
    border-color: azure;
}

#payblocks p {
    padding: 10px 20px;
    margin: 0px
}

#payblocks input {
    width: 80px;
    height: 20px;
    text-align: center;
    margin: 15px;
    border: 1px solid cornsilk;
    font-family: 'Exo 2';
    font-size: medium;
}

#selectedCoffee,
#selectedCupSize,
#totalPrice {
    font-family: 'Exo 2', sans-serif;
    font-size: medium;
}

#change {
    padding: 50px;
    font-family: 'Exo 2', sans-serif;
    font-size: xx-large;
}

#tqimg {
    border-radius: 15px;
    height: 300px;
    width: 400px;
}